{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url(/static/images/hero_4.jpg);" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">About Us</h1>
              <p>Find your dream jobs in our powerful career website .</p>
            </div>
          </div>
        </div>
      </div>
    </section>


     <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="/static/images/about_1.jpg" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Careers for Your Careers</h2>
            <p>It will come to pass that pleasures take the least pleasures, when pleasures are like pain, but those who do of the body, anyone who hates them is less of a life. Let it be pleasure.It will never happen to him to assume these very things, but for the desire of life he abandons the choice of the duties of the mode of pursuit. The times that we have here are among the harshest of any of our options!</p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Team</h2>
          </div>
        </div>

        <div class="row align-items-center block__69944">
  
          <div class="col-md-4 order-md-2">
            <img src="/static/images/wasim.jpg" alt="Image" class="img-fluid mb-4 rounded">

            <h3>Wasim Afreeth</h3>
            <p class="text-muted">Creative Director</p>
            <p>“Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do 
              what you believe is great work. And the only way to do great work is to love what you do. If you haven’t 
              found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.”</p>
            <div>
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>


          <div class="col-md-4 order-md-2">
            <img src="/static/images/martin.jpg" alt="Image" class="img-fluid mb-4 rounded">


            <h3>Martin</h3>
            <p class="text-muted">Executive Director</p>
            <p>"As a People Operations or Human Resources team member, your role begins and ends with people, 
              so you have to be very sensitive and aware of your team feels and what challenges they're experiencing so you 
              can reinforce practices that are helping your team thrive and develop solutions to address existing issues"</p>
            <div>
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>

          <div class="col-md-4 order-md-2">
            <img src="/static/images/sathish.jpg" alt="Image" class="img-fluid mb-4 rounded">


            <h3>Sathish</h3>
            <p class="text-muted">Vice president</p>
            <p>"Loose as if when the chosen one is easy to refuse, they do not know the troubles of the accusers, the pains of the free push it back in
              the pain of the labors in such ways as the pleasure of the pains and the pleasures of the repudiation of the pleasures? From or to
              I will explain, right, that we can pursue it and does not want to choose the matter of trouble"</p>
            <div>
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>


        </div>

    </section>


{% endblock %}
